nodered-flow.json
[{"id":"9d303412.430a98","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"65c27e4.6264e8","type":"mqtt in","z":"9d303412.430a98","name":"安全心遥测","topic":"das/iot/+/+/property/+/post","qos":"2","datatype":"auto","broker":"67a22660.e8f538","x":760,"y":340,"wires":[["a9dab8b3.460208"]]},{"id":"2b36e042.cfdb2","type":"mqtt in","z":"9d303412.430a98","name":"安全心事件","topic":"das/iot/+/+/event/+/post","qos":"2","datatype":"auto","broker":"67a22660.e8f538","x":760,"y":440,"wires":[["b0b195bb.ec2168"]]},{"id":"6dc4f17c.b844c","type":"kafka-producer","z":"9d303412.430a98","name":"推送遥测kafka消息","broker":"50663600.c1b708","topic":"transportMessageForProperty","requireAcks":1,"ackTimeoutMs":100,"attributes":0,"x":1170,"y":340,"wires":[]},{"id":"3078be46.9e3b32","type":"kafka-producer","z":"9d303412.430a98","name":"推送事件kafka消息","broker":"50663600.c1b708","topic":"transportMessageForEvent","requireAcks":1,"ackTimeoutMs":100,"attributes":0,"x":1170,"y":440,"wires":[]},{"id":"a9dab8b3.460208","type":"function","z":"9d303412.430a98","name":"","func":"var topic = msg.topic;\n// topic content like \"das/iot/camera/dahua/property/load/post\"\nvar topicArr = topic.split(\"/\");\nvar thingId = topicArr[2];\nvar deviceId = topicArr[3];\nvar identifier = topicArr[5];\nvar mqttContent = msg.payload;\nvar res = {};\nres.content = mqttContent;\nres.thingId = thingId;\nres.deviceId = deviceId;\nres.identifier = identifier;\nreturn {payload: res};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":340,"wires":[["6dc4f17c.b844c"]]},{"id":"b0b195bb.ec2168","type":"function","z":"9d303412.430a98","name":"","func":"var topic = msg.topic;\n// topic content like \"das/iot/camera/dahua/property/load/post\"\nvar topicArr = topic.split(\"/\");\nvar thingId = topicArr[2];\nvar deviceId = topicArr[3];\nvar identifier = topicArr[5];\nvar mqttContent = msg.payload;\nvar res = {};\nres.content = mqttContent;\nres.thingId = thingId;\nres.deviceId = deviceId;\nres.identifier = identifier;\nreturn {payload: res};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":440,"wires":[["3078be46.9e3b32"]]},{"id":"67a22660.e8f538","type":"mqtt-broker","z":"","name":"emqx","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50663600.c1b708","type":"kafka-broker","z":0,"name":"kafka","hosts":"localhost:9092","selfsign":false,"usetls":false,"cacert":"","clientcert":"","privatekey":"","passphrase":""}]