nodered-flow.json
[
    {
        "id": "ae2c0181.2005b",
        "type": "tab",
        "label": "Protocol Proxy",
        "disabled": false,
        "info": "MQTT to Kafka proxy"
    },
    {
        "id": "6a73461.8a80db8",
        "type": "mqtt in",
        "z": "ae2c0181.2005b",
        "name": "MQTT遥测",
        "topic": "iot/+/+/property/+/post",
        "qos": "2",
        "datatype": "auto",
        "broker": "98c3baba.68fed8",
        "x": 760,
        "y": 340,
        "wires": [
            [
                "5acd8e42.1746c"
            ]
        ]
    },
    {
        "id": "a705e873.1b4d48",
        "type": "mqtt in",
        "z": "ae2c0181.2005b",
        "name": "MQTT事件",
        "topic": "iot/+/+/event/+/post",
        "qos": "2",
        "datatype": "auto",
        "broker": "98c3baba.68fed8",
        "x": 760,
        "y": 440,
        "wires": [
            [
                "28b16b93.b903c4"
            ]
        ]
    },
    {
        "id": "c178f6c1.f37b58",
        "type": "kafka-producer",
        "z": "ae2c0181.2005b",
        "name": "推送遥测kafka消息",
        "broker": "a3c3d44c.334508",
        "topic": "transportMessageForProperty",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "attributes": 0,
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "bb0c4fbb.27b7b",
        "type": "kafka-producer",
        "z": "ae2c0181.2005b",
        "name": "推送事件kafka消息",
        "broker": "a3c3d44c.334508",
        "topic": "transportMessageForEvent",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "attributes": 0,
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "5acd8e42.1746c",
        "type": "function",
        "z": "ae2c0181.2005b",
        "name": "",
        "func": "var topic = msg.topic;\n// topic content like \"iot/camera/dahua/property/load/post\"\nvar topicArr = topic.split(\"/\");\nvar thingId = topicArr[2];\nvar deviceId = topicArr[3];\nvar identifier = topicArr[5];\nvar mqttContent = msg.payload;\nvar res = {};\nres.content = mqttContent;\nres.thingId = thingId;\nres.deviceId = deviceId;\nres.identifier = identifier;\nreturn {payload: res};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "c178f6c1.f37b58"
            ]
        ]
    },
    {
        "id": "28b16b93.b903c4",
        "type": "function",
        "z": "ae2c0181.2005b",
        "name": "",
        "func": "var topic = msg.topic;\n// topic content like \"iot/camera/dahua/property/load/post\"\nvar topicArr = topic.split(\"/\");\nvar thingId = topicArr[2];\nvar deviceId = topicArr[3];\nvar identifier = topicArr[5];\nvar mqttContent = msg.payload;\nvar res = {};\nres.content = mqttContent;\nres.thingId = thingId;\nres.deviceId = deviceId;\nres.identifier = identifier;\nreturn {payload: res};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 440,
        "wires": [
            [
                "bb0c4fbb.27b7b"
            ]
        ]
    },
    {
        "id": "98c3baba.68fed8",
        "type": "mqtt-broker",
        "z": "",
        "name": "emqx",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a3c3d44c.334508",
        "type": "kafka-broker",
        "z": "",
        "name": "kafka",
        "hosts": "localhost:9092",
        "selfsign": false,
        "usetls": false,
        "cacert": "",
        "clientcert": "",
        "privatekey": "",
        "passphrase": ""
    }
]